<div class="pageContent">
	<form method="post" action="?action=<{$smarty.get.action}>&opt=<{$smarty.get.opt}>&callbackType=closeCurrent" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
            <div class="pageFormContent" layoutH="68">
			<div class="unit">
				<label>登录账号：</label>
				<input class="required" name="account" type="text" size="30" value="<{$data.uAccount}>" readonly ="readonly"/>
			</div>
            <div class="unit">
				<label>新密码：</label>
				<input class="required" name="newpass" type="password" size="30" value=""/>
			</div>
            <div class="unit">
				<label>确认新密码：</label>
				<input class="required" name="newpassagain" type="password" size="30" value=""/>
			</div>
			<div class="unit">
				<label>真实姓名：</label>
				<input class="required" name="name" type="text" size="30" value="<{$data.uName}>"/>
			</div>
            <div class="unit">
				<label>手机号码：</label>
                <input name="mobel" type="text" size="30"  class="digits" value="<{$data.uPhone}>"/>
			</div>
            <div class="unit">
				<label>邮件地址：</label>
                <input name="email" type="text" size="30"
    class="email" value="<{$data.uMail}>"/>
			</div>
		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>