<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="__URL__/add" target="dialog" mask="true"><span>新增</span></a></li>
			<li><a class="delete" href="__URL__/foreverdelete/id/{sid_user}/navTabId/__MODULE__" target="ajaxTodo" title="你确定要删除吗？" warn="请选择用户"><span>删除</span></a></li>
			<li><a class="edit" href="__URL__/edit/id/{sid_user}" target="dialog" mask="true" warn="请选择用户"><span>编辑</span></a></li>
			<li class="line">line</li>
			<li><a class="icon" href="__URL__/password/id/{sid_user}" target="dialog" mask="true" warn="请选择权限组"><span>重新划分权限</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%">
		<thead>
		<tr>
			<th width="60">分组ID</th>
			<th width="100">分组名</th>
            <th>操作</th>
		</tr>
		</thead>
		<tbody>
		<{foreach item=vo from =$data}>
			<tr target="sid_user" rel="<{$vo.id}>">
                <td><{$vo.id}></td>
				<td><{$vo.title}></td>
                <td></td>
			</tr>
		<{/foreach}>
		</tbody>
	</table>
</div>