<style type="text/css">
	ul.rightTools {float:right; display:block;}
	ul.rightTools li{float:left; display:block; margin-left:5px}
</style>
<script language="javascript" type="text/javascript" src="<{#root_url#}>colligate/js/highcharts.js"></script>
<div class="pageContent">
	<div class="panel" defH="25" style="display: none;">
		<h1>快捷方式：</h1>
		<div>
                    <ul class="rightTools">
                        <li><a class="button" target="" href="javascript:void(0);" mask="true"><span>功能待开发</span></a></li>
                        <li><div class="buttonDisabled"><div class="buttonContent"><button>公会信息查询</button></div></div></li>
                    </ul>
		</div>
	</div>
	<div class="tabs" >
		<div class="tabsHeader">
			<div class="tabsHeaderContent">
				<ul>
					<li><a href="javascript:;"><span>数据示意图</span></a></li>
					<li><a href="javascript:;"><span>公会今日充值排行【20】</span></a></li>
				</ul>
			</div>
		</div>
		<div class="tabsContent" >
                    <!--数据示意图-->
			<div>
				<div layoutH="34" style="float:left; display:block; overflow:auto; width:240px; border:solid 1px #CCC; line-height:21px; background:#fff">
				    <ul class="tree treeFolder">
						<li><a href="javascript">实时数据</a>
							<ul>
								<li ><a  href="?action=sysmanage&opt=index&show=online" target="ajax" rel="jbsxBox">今日注册</a></li>
								<li><a href="?action=sysmanage&opt=index&show=pay" target="ajax" rel="jbsxBox">今日充值</a></li>
							</ul>
						</li>
	
				     </ul>
				</div>
				<div id="jbsxBox" class="unitBox" layoutH="34">
				</div>
			</div>
                   <!--今日在线-->
                    <div>
                        <div layoutH="34" class="table">
            <fieldset>
                <legend style="margin-left:45%">注册&充值</legend>
                    <dl class="nowrap">
                        <dd>
                            <div class="" style="width:24%;border:1px solid #e1f3fc;margin:5px;float:left;min-height:60px;margin-left: 30%">
                                <div style="border:1px solid #B8D0D6;padding:5px;margin:5px">今日充值总额：<{$pay[$date]|default:"0"}>元</div>
                                <div style="border:1px solid #B8D0D6;padding:5px;margin:5px">今日总注册：<{$reg[$date]|default:"0"}>人</div>           
                            </div>
                            <div class="" style="width:24%;border:1px solid #e1f3fc;margin:5px;float:left;min-height:60px">
                                <div style="border:1px solid #B8D0D6;padding:5px;margin:5px">昨天充值总额：<{$pay[$ydate]|default:"0"}>元</div>
                                <div style="border:1px solid #B8D0D6;padding:5px;margin:5px">昨天总注册：<{$reg[$ydate]|default:"0"}>人</div>
           
                            </div>
                            <div class="" style="width:98%;border:1px solid #e1f3fc;margin:5px;float:left;min-height:10px;">
                                <{include file="sysmanage/bestSeller.html"}>
                            </div>
                        </dd>
                    </dl>
                </fieldset> 
                    </div>
            </div>
		</div>
	</div>
	
</div>