<script type="text/javascript" >
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'jbsxBox',
                defaultSeriesType: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: '<{$datetime}>各游戏充值统计',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: 10
            },
            xAxis: {
                categories: [<{$H}>]
            },
            yAxis: {
                title: {
                    text: '充值（元）'
                },
                plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                return '<b>'+ this.series.name +'</b><br/>'+
                    this.x +': '+ this.y +'元';
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [
        <{foreach  item=vo from =$data}>
            {
                name: '<{$vo.name}>',
                data: [<{$row[$vo['id']]}>]
            }, 
        <{/foreach}>
            ]
        });
    });
</script>