<{config_load file="smarty.conf" section="setup"}>
<form id="pagerForm" action="" method="post">
    <input type="hidden" name="access" value="1"/>
    <input type="hidden" name="pageNum" value="<{$currentpage}>"/>
    <input type="hidden" name="numPerPage" value="<{$numperpage}>"/>
    <input type="hidden" name="title" value="<{$smarty.post.title}>"/>
</form>
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" action="" method="post">
    <input type="hidden" name="access" value="1"/>    
    <div class="searchBar">
        <ul class="searchContent">
            <li>  
                <label>新闻标题：</label>
                <input type="text" name="title" size="30" value="<{$smarty.post.title}>"/>
            </li>
        </ul>
        <div class="subBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
            </ul>
        </div>
    </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" title="新增新闻公告" href="?action=<{$smarty.get.action}>&opt=<{$smarty.get.opt}>&api=add&navTabId=<{$smarty.get.navTabId}>" height="270" target="dialog" mask="true"><span>新增</span></a></li>
            <li><a class="edit" title ="编辑公告" href="?action=<{$smarty.get.action}>&opt=<{$smarty.get.opt}>&api=add&id={id}&navTabId=<{$smarty.get.navTabId}>" height="270" target="dialog" mask="true" warn="您尚未选择要编辑的公告噢！"><span>编辑</span></a></li>
            <li><a class="delete" href="?action=<{$smarty.get.action}>&opt=<{$smarty.get.opt}>&api=del&id={id}&navTabId=<{$smarty.get.navTabId}>" target="ajaxTodo" title="您确定要删除该公告信息吗？" warn="您尚未选择要删除的公告噢！"><span>删除</span></a></li>
            <li><a title="您确定要删除所选公告吗?" target="selectedTodo" rel="ids" href="?action=<{$smarty.get.action}>&opt=<{$smarty.get.opt}>&api=mult_del&navTabId=<{$smarty.get.navTabId}>" postType="string" warn="您尚未选择要删除的公告噢！" class="delete"><span>批量删除</span></a></li>
       </ul>
    </div>
    <table class="table" width="100%"  layoutH="137">
        <thead>
        <tr>
            <th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
            <th>ID</th>
            <th width="650">标题</th>
            <th>编辑人</th>
            <th>编辑时间</th>
            <th width="100">下载</th>
        </tr>
        </thead>
        <tbody>
        <volist id="vo" name="list">
            <{foreach item=vo from=$data}>
            <tr target="id" rel="<{$vo.id}>">
                <td><input name="ids" value="<{$vo.id}>" type="checkbox"></td>
                <td><{$vo.id}></td>
                <td><{$vo.title}></td>
                <td><{$vo.uName}></td>
                <td><{$vo.nTime|date_format:"%Y-%m-%d %H:%I:%S"}></td>
                <td>
                    <a title="下载内容文档" href="<{#downloaddoc_url#}><{$vo.fileUrl}>" target="_blank" class="btnAttach">下载</a>
                    
                </td>
            </tr>
            <{/foreach}>
        </volist>
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages"><span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option <{if $smarty.post.numPerPage==20}>selected<{/if}>  value="20">20</option>
                <option <{if $smarty.post.numPerPage==50}>selected<{/if}> value="50">50</option>
                <option <{if $smarty.post.numPerPage==100}>selected<{/if}> value="100">100</option>
                <option <{if $smarty.post.numPerPage==200}>selected<{/if}> value="200">200</option>
            </select><span>条，共<{$totalcount}>条</span>
        </div>
        <div class="pagination" targetType="navTab" totalCount="<{$totalcount}>" numPerPage="<{$numperpage}>" pageNumShown="10" currentPage="<{$currentpage}>"></div>
    </div>
</div>