<div class="pageContent">
    <form method="post" action="?action=<{$smarty.get.action}>&opt=<{$smarty.get.opt}>&api=add&callbackType=closeCurrent&navTabId=<{$smarty.get.navTabId}>" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
    <input name="sub" type="hidden" value="1" />
    <div class="pageFormContent" layoutH="68">
        <div class="unit">
                <label>关联公会：</label>
                    <select class="combox" name="agentid" id="agentid21" ref="w_cadddddfafsidkjhjlkhk221" refUrl="?action=sysmanage&opt=getMembers&agentid={value}">
                        <option value="0">请选择</option>
                        <{foreach item=v from =$guildlist}>
                             <option value="<{$v.id}>" <{if $smarty.post.agentid==$v.id}> selected <{/if}> ><{$v.agentname}></option>
                             <{/foreach}>
                         </select>
                <input type="text" id="search_key21" size="10" class="" value="输入关键字"/>
                    <select class="combox" name="placeid" id="w_cadddddfafsidkjhjlkhk221">
                            <option value ="0" selected>请选择</option>
                            <{foreach item=v from =$guildmembers}>
                            <option value="<{$v.site_id}>" <{if $smarty.post.placeid==$v.site_id}>selected<{/if}> ><{$v.sitename}></option>
                            <{/foreach}>
                            </select>
        </div>
        <div class="unit">
                <label>游戏区服：</label>
            <select class="combox" name="game_id" id="game_id" ref="gameasfasddsasfssddd" refUrl="?action=sysmanage&opt=getServers&game_id={value}">
                <option value="0">请选择</option>
                <{foreach item=v from =$gamelist}>
                     <option value="<{$v.id}>" <{if $smarty.post.game_id==$v.id}> selected <{/if}> ><{$v.name}></option>
                     <{/foreach}>
                 </select> 
                <select class="combox" name="server_id" id="gameasfasddsasfssddd" onchange="get_user_role()" >
                <option value="0">请选择</option>
                <{foreach item=v from =$serverlist}>
                     <option value="<{$v.server_id}>" <{if $smarty.post.server_id==$v.server_id}> selected <{/if}> ><{$v.name}></option>
                     <{/foreach}>
                 </select>  
        </div>
    </div>
    <div class="formBar">
        <ul>
            <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
            <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
        </ul>
    </div>
    </form>
</div>
<script>
    var pro_str={ <{foreach item=v from =$guildlist}> "<{$v.id}>":"<{$v.agentname}>", <{/foreach}> };
    search_pro('search_key21','agentid21');
</script>