<form id="pagerForm" action="" method="post">
     <input type="hidden" name="access" value="1"/>
    <input type="hidden" name="pageNum" value="<{$currentpage}>"/>
    <input type="hidden" name="numPerPage" value="<{$numperpage}>"/>
    <input type="hidden" name="agentid" value="<{$smarty.post.agentid}>"/>
    <input type="hidden" name="start_date" value="<{$smarty.post.start_date}>"/>
    <input type="hidden" name="end_date" value="<{$smarty.post.end_date}>"/>
</form>
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" action="" method="post">
    <input type="hidden" name="access" value="1"/>    
    <div class="searchBar">
        <ul class="searchContent">
            <li><label>游戏服区：</label>
            <select class="combox" name="game_id" id="game_id" ref="server_91yxq_24" refUrl="?action=sysmanage&opt=getServers&game_id={value}">
                <option value="0">请选择</option>
                <{foreach item=v from =$gamelist}>
                     <option value="<{$v.id}>" <{if $smarty.post.game_id==$v.id}> selected <{/if}> ><{$v.name}></option>
                     <{/foreach}>
                 </select>
                <select class="combox" name="server_id" id="server_91yxq_24">
                <option value="0">请选择</option>
                <{foreach item=v from =$serverlist}>
                     <option value="<{$v.server_id}>" <{if $smarty.post.server_id==$v.server_id}> selected <{/if}> ><{$v.name}></option>
                     <{/foreach}>
                 </select>
            </li>
            <li>  
                <label>查询起始日期：</label>
                <input type="text" name="start_date" class="date" value="<{$smarty.post.start_date}>" readonly="true"/>
                            <a class="inputDateButton" href="javascript:;">选择</a></li>
            <li>
                <label>查询结束日期：</label>
                <input type="text" name="end_date" class="date" value="<{$smarty.post.end_date}>" readonly="true"/>
                            <a class="inputDateButton" href="javascript:;">选择</a>
            </li>
        </ul>
        <div class="subBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
            </ul>
        </div>
    </div>
    </form>
</div>
<div class="pageContent">
    <table class="table" width="100%"  layoutH="107">
                    <thead>
                        <tr>
                            <th>注册账号</th>
                            <th>游戏</th>
                            <th>角色名</th>
                            <th>公会成员</th>
                            <th>注册时间</th>
                            <th>注册IP</th>
                        </tr>
                    </thead>
                    <tbody>
                            <{foreach item=vo from=$data}>
                            <tr target="sid" rel="1">
                                <td><{$vo['user_name']}></td>
                                <td><{$vo['gamename']}>-<{$vo['server_id']}>区</td>
                                <td><{$vo['user_role']|default:"---"}></td>
                                <td><{$vo['membername']}></td>
                                <td><{$vo['reg_time']}></td>
                                <td><{$vo['reg_ip']}></td>
                            </tr>
                            <{/foreach}>
                    </tbody>
    </table>
    <div class="panelBar">
        <div class="pages"><span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option <{if $smarty.post.numPerPage==20}>selected<{/if}>  value="20">20</option>
                <option <{if $smarty.post.numPerPage==50}>selected<{/if}> value="50">50</option>
                <option <{if $smarty.post.numPerPage==100}>selected<{/if}> value="100">100</option>
                <option <{if $smarty.post.numPerPage==200}>selected<{/if}> value="200">200</option>
            </select><span>条，共<{$totalcount}>条</span>
        </div>
        <div class="pagination" targetType="navTab" totalCount="<{$totalcount}>" numPerPage="<{$numperpage}>" pageNumShown="10" currentPage="<{$currentpage}>"></div>
    </div>
</div>