<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="[$91yxq_platform_keywords]" />
<meta name="description" content="[$91yxq_platform_desc]" />
<title>[$91yxq_platform_title]-[$NodeInfo.Name]</title>
<link type="text/css" rel="stylesheet" href="[$91yxq_image_url]/css/www/base.css" />
<link type="text/css" rel="stylesheet" href="[$91yxq_image_url]/css/www/public.css" />
<link type="text/css" rel="stylesheet" href="[$91yxq_image_url]/css/www/main_pq.css" />
<script type="text/javascript" src="[$91yxq_image_url]/js/jquery-1.10.2.min.js"></script>
<script>
$(document).ready(function(){
	
	//游戏选择条件
	$(".drop_menu").hover(
		function(){
			$(this).children(".drop_box").show();
			$(this).children(".arrow_box").addClass("arrow_box_on");
		},
		function(){
			$(this).children(".drop_box").hide();
			$(this).children(".arrow_box").removeClass("arrow_box_on");
		}
	);
})
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?40046e537679c6fcc02004afff9e4d2d";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>

<!---头部-->
<include file="../public/header.html" />

<!--banner-->
<div class="m1200 pt20 pb20"><a href="javascript:void(0);"><img src="[$91yxq_image_url]images/www/1200x120.jpg" /></a></div>

<!--主内容-->
<div class="m1200 clearfix">
	<!--左侧-->
    <div class="fl w260">
		
    	<!--开服列表-->
        <div class="m_box" id="svr_list_box">
        	<script src="[$91yxq_url]/public/svr_list_box.js"></script>
        </div>
        
		<div class="mt15"></div>
		
		<!--客服中心-->
        <div class="m_box" id="kefu_box">
        	<script src="[$91yxq_url]/public/kefu_box.js"></script>
        </div>
		
    </div>
    
    <!--右侧-->
    <div class="fr w920">
        <div class="m_box mb15">
            <div class="hd_title"><h2>游戏列表</h2></div>
            <div class="clearfix" style="padding:40px 50px 0">
            	<div class="fl drop_menu">
                    <a class="arrow_box" href="javascript:void(0)"><span class="arrow"><i></i></span><span class="t">游戏类型</span></a>
                    <div class="drop_box" style="display:none">
                        <a href="javascript:void(0);">角色扮演</a>
                        <a href="javascript:void(0);">战争策略</a>
                        <a href="javascript:void(0);">模拟经营</a>
                        <a href="javascript:void(0);">休闲竞技</a>
                        <a href="javascript:void(0);">3D</a>
                    </div>
                </div>
                <div class="fl drop_menu">
                    <a class="arrow_box" href="javascript:void(0)"><span class="arrow"><i></i></span><span class="t">游戏题材</span></a>
                    <div class="drop_box" style="display:none">
                        <a href="javascript:void(0);">三国</a>
                        <a href="javascript:void(0);">西游</a>
                        <a href="javascript:void(0);">水浒</a>
                        <a href="javascript:void(0);">仙侠</a>
                        <a href="javascript:void(0);">武侠</a>
                        <a href="javascript:void(0);">魔幻</a>
                        <a href="javascript:void(0);">其它</a>
                    </div>
                </div>
                <div class="fl drop_menu">
                    <a class="arrow_box" href="javascript:void(0)"><span class="arrow"><i></i></span><span class="t">字母排序</span></a>
                    <div class="drop_box" style="display:none">
                        <a href="javascript:void(0);">ABCDE</a>
                        <a href="javascript:void(0);">FGHIJ</a>
                        <a href="javascript:void(0);">KLMNO</a>
                        <a href="javascript:void(0);">PQRST</a>
                        <a href="javascript:void(0);">UWXYZ</a>
                    </div>
                </div>          
            </div>
            <div class="game_list">
                <ul>
                    <li class="clearfix">
                        <div class="pic"><img src="[$91yxq_image_url]images/www/280x145.jpg" /></div>
                        <div class="txt">
                            <div class="name">醉武侠贰</div>
                            <div class="text">莽荒记网页游戏以同名网络小说《莽荒纪》为蓝本，玩家将置身小说中所描绘的的世界，以原创角色的身份与原著人物互动，推进游戏剧情的发展。游戏以小说世界观为基础。</div>
                            <div><a href="javascript:ovid(0);" class="btn1">进入游戏</a><span class="f14 ml15"><a href="javascript:void(0);" target="_blank">官网</a><span class="line">|</span><a href="javascript:void(0);" target="_blank">礼包</a></span></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="pic"><img src="[$91yxq_image_url]images/www/280x145.jpg" /></div>
                        <div class="txt">
                            <div class="name">醉武侠贰</div>
                            <div class="text">莽荒记网页游戏以同名网络小说《莽荒纪》为蓝本，玩家将置身小说中所描绘的的世界，以原创角色的身份与原著人物互动，推进游戏剧情的发展。游戏以小说世界观为基础。</div>
                            <div><a href="javascript:ovid(0);" class="btn1">进入游戏</a><span class="f14 ml15"><a href="javascript:void(0);" target="_blank">官网</a><span class="line">|</span><a href="javascript:void(0);" target="_blank">礼包</a></span></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="pic"><img src="[$91yxq_image_url]images/www/280x145.jpg" /></div>
                        <div class="txt">
                            <div class="name">醉武侠贰</div>
                            <div class="text">莽荒记网页游戏以同名网络小说《莽荒纪》为蓝本，玩家将置身小说中所描绘的的世界，以原创角色的身份与原著人物互动，推进游戏剧情的发展。游戏以小说世界观为基础。</div>
                            <div><a href="javascript:ovid(0);" class="btn1">进入游戏</a><span class="f14 ml15"><a href="javascript:void(0);" target="_blank">官网</a><span class="line">|</span><a href="javascript:void(0);" target="_blank">礼包</a></span></div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="pic"><img src="[$91yxq_image_url]images/www/280x145.jpg" /></div>
                        <div class="txt">
                            <div class="name">醉武侠贰</div>
                            <div class="text">莽荒记网页游戏以同名网络小说《莽荒纪》为蓝本，玩家将置身小说中所描绘的的世界，以原创角色的身份与原著人物互动，推进游戏剧情的发展。游戏以小说世界观为基础。</div>
                            <div><a href="javascript:ovid(0);" class="btn1">进入游戏</a><span class="f14 ml15"><a href="javascript:void(0);" target="_blank">官网</a><span class="line">|</span><a href="javascript:void(0);" target="_blank">礼包</a></span></div>
                        </div>
                    </li>
                </ul>
            </div>
            
            <!--翻页-->
            <div class="page p50">
                <a href="javascript:void(0);" class="updow">&lt;</a> 
                <a href="javascript:void(0);">1</a>
                <a href="javascript:void(0);">2</a>
                <a href="javascript:void(0);">3</a>
                <a href="javascript:void(0)" class="on">4</a>
                <a href="javascript:void(0);">5</a>
                <span>...</span>
                <a href="javascript:ovid(0);">20</a>
                <a href="javascript:ovid(0);" class="updow">&gt;</a>
            </div>
        </div>
    </div>
</div>

<!--页脚-->
<div class="foot clearfix" id="footer_box">
	<script src="[$91yxq_url]/public/footer.js"></script>
</div>

</body>
</html>
