<!---头部-->
<div class="head">
	<div id="platform_top_div" class="m1200">
		
        <a href="[$91yxq_url]/index.html" class="logo"></a>
        
        <!--导航-->
        <div class="nav">
            <a href="[$91yxq_url]/index.html" <if test="$NodeInfo.NodeID == 2 or $NodeInfo.NodeID == 6">class="on"</if>>首页<span class="line"></span></a>
            <a href="[$91yxq_url]/games/index.html" <if test="$NodeInfo.NodeID == 7">class="on"</if>>游戏大厅<span class="line"></span></a>
            <a href="[$91yxq_url]/user.php">用户中心<span class="line"></span></a>
            <a href="[$91yxq_pay]">充值中心<span class="line"></span></a>
            <a href="[$91yxq_url]/news/index.html" <if test="$NodeInfo.NodeID == 8 or $NodeInfo.NodeID == 11 or $NodeInfo.NodeID == 12 or $NodeInfo.NodeID == 13 ">class="on"</if>>新闻中心<span class="line"></span></a>
            <a href="[$91yxq_url]/help/index.html" <if test="$NodeInfo.NodeID == 9 or $NodeInfo.NodeID == 14 or $NodeInfo.NodeID == 15 or $NodeInfo.NodeID == 16 ">class="on"</if>>客服中心<span class="line"></span></a>
        </div>
        
		<!--游戏列表;登录注册按钮或登录后用户名js-->
		<script src="[$91yxq_url]/public/www_top.js"></script>
        
    </div>
	
</div>