@charset "utf-8";
/* CSS Document */
/***********
	*@Description: 基础css样式
	*@Author:poqi
	*@Update:
	*@time:(2015-09)
***********/
body{background:#F5F5F5; font:12px/22px "微软雅黑"; color:#666; padding:0; margin:0}
div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,img,select,input{padding:0; margin:0; list-style:none; vertical-align:middle}
input,textarea:focus{outline:none}
img{border:none}
.fl{float:left}
.fr{float:right}
.clearfix:after{content:""; display:block; clear:both; height:0}
.clearfix{*zoom:1}
.cl{clear:both; height:1px; line-height:1px; padding:0; margin:0; overflow:hidden}
.blank5{clear:both; height:5px; overflow:hidden}
.blank10{clear:both; height:10px; overflow:hidden}
.blank15{clear:both; height:15px; overflow:hidden}
.blank20{clear:both; height:20px; overflow:hidden}
a{color:#666; text-decoration:none; transition:color 0.2s linear}
a:hover{color:#dc5562}
.f14{font-size:14px}
.p5{padding:5px}.pt5{padding-top:5px}.pb5{padding-bottom:5px}.pl5{padding-left:5px}.pr5{padding-right:5px}
.p10{padding:10px}.pt10{padding-top:10px}.pb10{padding-bottom:10px}.pl10{padding-left:10px}.pr10{padding-right:10px}
.p15{padding:15px}.pt15{padding-top:15px}.pb15{padding-bottom:15px}.pl15{padding-left:15px}.pr15{padding-right:15px}
.p20{padding:20px}.pt20{padding-top:20px}.pb20{padding-bottom:20px}.pl20{padding-left:20px}.pr20{padding-right:20px}
.p40{padding:40px}
.p50{padding:50px}.pt50{padding-top:50px}.pb50{padding-bottom:50px}.pl50{padding-left:50px}.pr50{padding-right:50px}
.m10{margin:10px}.mt10{margin-top:10px}.mb10{margin-bottom:10px}.ml10{margin-left:10px}.mr10{margin-right:10px}
.m15{margin:15px}.mt15{margin-top:15px}.mb15{margin-bottom:15px}.ml15{margin-left:15px}.mr15{margin-right:15px}
.m20{margin:20px}.mt20{margin-top:20px}.mb20{margin-bottom:20px}.ml20{margin-left:20px}.mr20{margin-right:20px}
.mt40{margin-top:40px}
.tl{text-align:left}.tr{text-align:right}.tc{text-align:center}

.m1200{width:1200px; margin:0 auto}
.m1000{width:1000px; margin:0 auto}
.w980{width:980px}
.w920{width:920px}
.w880{width:880px}
.w680{width:680px}
.w605{width:605px}
.w530{width:530px}
.w390{width:390px}
.w300{width:300px}
.w260{width:260px}