<form id="pagerForm" action="" method="post">
     <input type="hidden" name="access" value="1"/>
    <input type="hidden" name="pageNum" value="<{$currentpage}>"/>
    <input type="hidden" name="numPerPage" value="<{$numperpage}>"/>
    <input type="hidden" name="agentid" value="<{$smarty.post.agentid}>"/>
    <input type="hidden" name="pwd" value="<{$smarty.post.pwd}>"/>
    <input type="hidden" name="start_date" value="<{$smarty.post.start_date}>"/>
    <input type="hidden" name="end_date" value="<{$smarty.post.end_date}>"/>
</form>
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" action="" method="post">
    <input type="hidden" name="access" value="1"/>    
    <div class="searchBar">
        <ul class="searchContent">
            <li>  
                    <label>起始日期：</label>
                    <input type="text" name="start_date" class="date" value="<{$smarty.post.start_date}>" readonly="true"/>
				<a class="inputDateButton" href="javascript:;">选择</a></li>
                <li>  
                    <label>结束日期：</label>
                    <input type="text" name="end_date" class="date" value="<{$smarty.post.end_date}>" readonly="true"/>
				<a class="inputDateButton" href="javascript:;">选择</a></li>
            <li style="width:500px;"><label>密码：</label>
                <input type="text" name="pwd" size="24" class="" value="<{$smarty.post.pwd}>"/>
                 <span class="info" style="color:#999;">如没显示数据，请输入密码</span>
            </li>
                
        </ul>
        <div class="subBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
            </ul>
        </div>
    </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" title="新增结算" href="?action=<{$smarty.get.action}>&opt=<{$smarty.get.opt}>&api=add&navTabId=<{$smarty.get.navTabId}>" height="460" width="980" target="dialog" mask="true"><span>新增结算</span></a></li>
        </ul>
    </div>
    <table class="table" width="100%"  layoutH="137">
                    <thead>
                        <tr>
                            <th>流水编号</th>
                            <th>公会名</th>
                            <th>结算起始--结束日期</th>
                            <th>期间充值总金额</th>
                            <th>公会内充总金额</th>
                            <th>结算金额</th>
                            <th>申请时间</th>
                            <th>审核时间</th>
                            <th>审核人</th>
                            <th>状态</th>
                            <th>理由</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                            <{foreach item=vo from=$data}>
                            <tr target="sid" rel="1">
                                <td><{$vo['id']}></td>
                                <td><{$vo['agentname']}></td>
                                <td><{$vo['sDate']}> 截止至：<{$vo['eDate']}></td>
                                <td><{$vo['payMoney']}></td>
                                <td><{$vo['innerMoney']}></td>
                                <td><{$vo['jieMoney']}></td>
                                <td><{if $vo.apply_time >0}> <{$vo['apply_time']|date_format:"%Y-%m-%d"}> <{else}> --- <{/if}></td>
                                <td><{$vo['jieTime']}></td>
                                <td><{$vo['name']|default:"--"}></td>
                                <td><{if $vo['apply']==-1}>待审核<{else if $vo['apply']==1}>已打款<{else if $vo['apply']==2}>不通过<{else}>--<{/if}></td>
                                <td title="<{$vo.Reason|default:"--"}>">
                                    <{$vo.Reason|default:"--"}>
                                </td>
                                <td><a style="color: red;"  href="?action=<{$smarty.get.action}>&opt=<{$smarty.get.opt}>&api=detail&id=<{$vo['id']}>"  height="300" width="600" target="dialog" >查看明细</a></td>
                            </tr>
                            <{/foreach}>
                    </tbody>
    </table>
    <div class="panelBar">
        <div class="pages"><span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option <{if $smarty.post.numPerPage==20}>selected<{/if}>  value="20">20</option>
                <option <{if $smarty.post.numPerPage==50}>selected<{/if}> value="50">50</option>
                <option <{if $smarty.post.numPerPage==100}>selected<{/if}> value="100">100</option>
                <option <{if $smarty.post.numPerPage==200}>selected<{/if}> value="200">200</option>
            </select><span>条，共<{$totalcount}>条</span> <span>&nbsp;&nbsp;结算总金额：<{$totalMoney}>&nbsp;元</span>
        </div>
        <div class="pagination" targetType="navTab" totalCount="<{$totalcount}>" numPerPage="<{$numperpage}>" pageNumShown="10" currentPage="<{$currentpage}>"></div>
    </div>
</div>
