<!--页脚-->
<!--<div class="foot clearfix">
	<div class="m1200">
        <div class="fl foot_copy">
            <p>{%$company_title%}版权所有 ©2015-2016&nbsp;&nbsp;{%$icp%}</p>
            <p><a href="about.html">关于我们</a><span class="line">|</span><a href="contact.html">商务合作</a><span class="line">|</span><a href="contact.html">联系我们</a><span class="line">|</span><a href="javascript:void(0);">家长监护</a></p>
            <p>抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防受骗上当。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。</p>
        </div>
        <div class="fr foot_prove">
            <a href="javascript:void(0);" class="prove_ic1"></a>
            <a href="javascript:void(0);" class="prove_ic2"></a>
            <a href="javascript:void(0);" class="prove_ic3"></a>
            <a href="javascript:void(0);" class="prove_ic4"></a>
        </div>
    </div>
</div>-->

<div class="foot clearfix" id="footer_box">
	<script src="{%$root_url%}/public/footer.js"></script>
</div>
