<div class="top-tbg">
    <div class="main">
        <div class="left top-tbg-left">
            <a href="#" onclick="setHomepage('http://www.6qwan.com','最新好玩火爆的网页游戏尽在6qwan游戏平台!');">设为首页</a>
            <span class="pt8 left">|</span>
            <a href="#" onclick="addBookmark('http://www.6qwan.com','最新好玩火爆的网页游戏尽在6qwan游戏平台!');">加入收藏</a>
            <span class="pt8 left">|</span>
            <a  class="zhuomian" href="http://www.6qwan.com/shortcut.php">6qwan桌面</a>
        </div>
        <div class="right top-tbg-right">
            <div class="user-log left">
                <a href="#" class="left top-login">登录</a>
                <a href="#" class="left top-regis"></a>
                <span id="hello_id"  style="display:none;font-weight:bold;">
                <span class="left top-login">你好,</span><a href="#"><span class="left top-login" id="userNames_id"></span></a>
                <span><a class="left top-login" href="#">|注销</a></span>
                </span>
            </div>
            <div class="user-attention right">
                <span class="us">关注我们:</span>
                <a class="sina" rel="nofollow" href="javascript:void((function(s,d,e){try{}catch(e){}var%20f='http://v.t.sina.com.cn/share/share.php?',u=d.location.href,p=['url=',e(u),'&title=',e(d.title),'&appkey=1392530042'].join('');function a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=620,height=450,left=',(s.width-620)/2,',top=',(s.height-450)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})(screen,document,encodeURIComponent));"></a>
                <a class="qq" href="javascript:void(0)" onclick="{ var _t = encodeURI(document.title);  var _url = encodeURI(window.location); var _appkey = '333cf198acc94876a684d043a6b48e14'; var _site = encodeURI; var _pic = ''; var _u = 'http://v.t.qq.com/share/share.php?title='+_t+'&url='+_url+'&appkey='+_appkey+'&site='+_site+'&pic='+_pic; window.open( _u,'转播到腾讯微博', 'width=700, height=580, top=180, left=320, toolbar=no, menubar=no, scrollbars=no, location=yes, resizable=no, status=no' );  };" ></a>
                <a class="jiathis_button_weixin wx"></a>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="top-bg">
    <div class="main">
        <div class="top-nav">
            <a href="http://www.6qwan.com" class="logo left" id="logo"><img src="http://image.6qwan.com/newvossion/images/logo.png" /></a>
            <ul>
                <li><a href="http://www.6qwan.com">首页</a></li>
                <li ><a href="http://www.6qwan.com/games/">游戏大厅</a></li>
                <li ><a href="http://www.6qwan.com/my.php">用户中心</a></li>
                <li ><a href="http://pay.6qwan.com">充值中心</a></li>
                <li ><a href="http://www.6qwan.com/news/">新闻中心</a></li>
                <li class="on"><a href="http://www.6qwan.com/kfzx/">客服中心</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div><!--adv---> 