<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码|6qwan国内网页游戏平台,国内优秀网页游戏！</title>
<meta name="keywords" content="网页游戏,6qwan网页游戏平台,优秀网页游戏平台">
<meta name="description" content="777wan网页游戏平台有最新网页游戏,好玩的网页游戏,汇聚2014年最新、最全、最好玩的网页游戏，打造最受玩家喜爱的游戏平台，让广大玩家尽情体验网页游戏带来的乐趣！" />
<link rel="icon" href="http://image.6qwan.com/newvossion/images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="http://image.6qwan.com/newvossion/images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="http://image.6qwan.com/newvossion/css/main.css" />
<link rel="stylesheet" type="text/css" href="http://image.6qwan.com/newvossion/css/style.css" />
<link type="text/css" rel="stylesheet" href="http://image.6qwan.com/css/style.css">
<link type="text/css" rel="stylesheet" href="http://image.6qwan.com/css/pay.css">
<script src="http://image.6qwan.com/jsCommon/jquery-1.4.4.min.js" type="text/javascript"></script>
<script src="http://image.6qwan.com/jsCommon/function.js" type="text/javascript"></script>
<script src="http://image.6qwan.com/jsCommon/index.js" type="text/javascript"></script>
</head>
<body>
   {%include file="help_header.html"%}
   <!--头部结束-->     
   <div class="center">
      <div class="cz">
      <div class="mainc">
        {%include file="left_help_pwd.html"%}
        <div class="cright">
          <div class="yh_kf_zhmm">您现在所在的位置： <a href="http://www.6qwan.com">首页</a> > <a href="http://www.6qwan.com/kfzx/">客服中心</a> > 找回密码</div>
          <div class="yh">
            <div class="zhmm1">
	         <div class="zhmm11">请选择找回密码的方式</div>
	         <div class="zhmm12">
	         <div class="f_l zhmm121"><a href="http://www.6qwan.com/help.php?act=getpwd_email"><img src="http://image.6qwan.com/images/zhmm_01.gif" /></a></div>
		     <div class="f_l">填写注册邮箱，收取邮件找回密码</div>
	         </div>
	         <div class="zhmm12">
	         <div class="f_l zhmm121"><a href="http://www.6qwan.com/help.php?act=getpwd_appeal"><img src="http://image.6qwan.com/images/zhmm_02.gif" width="247" height="44" /></a></div>
		    <div class="f_l">填写表格，发送传真，通过客服获取回密码</div>
	       </div>
	     </div>
          </div>
        </div><!--cright-->      
      </div>       
      </div>     
   </div>
   {%include file="copyright.html"%}
</body>
</html>