 <div class="margintop10">
 <div class="sylb"><p class="f_l sylba">开服列表</p><p class="f_r sylbb"><a href="/games">更多</a></p><div class="clear"></div></div>
 <div class="cjwt_nr1"> 
   <div class="zckfbiao1"><ul><li>日期</li><li>时间</li><li class="zckfbiao1x">游戏名称</li><li>服数</li><div class="clear"></div></ul></div> 
   
         <div class="zckfbiao2"><ul><li class="zckfbiao2a"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=2&amp;server_id=1">08-29</a></li><li class="zckfbiao2b"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=2&amp;server_id=1">15：00</a></li><li class="zckfbiao2c"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=2&amp;server_id=1" target="_blank">莽荒纪</a></li><li class="zckfbiao2d"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=2&amp;server_id=1" target="_blank">1服</a></li></ul></div> 
      <div class="zckfbiao2"><ul><li class="zckfbiao2a"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=5">08-18</a></li><li class="zckfbiao2b"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=5">19:00</a></li><li class="zckfbiao2c"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=5" target="_blank">万界</a></li><li class="zckfbiao2d"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=5" target="_blank">5服</a></li></ul></div> 
      <div class="zckfbiao2"><ul><li class="zckfbiao2a"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=4">08-17</a></li><li class="zckfbiao2b"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=4">19:00</a></li><li class="zckfbiao2c"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=4" target="_blank">万界</a></li><li class="zckfbiao2d"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=4" target="_blank">4服</a></li></ul></div> 
      <div class="zckfbiao2"><ul><li class="zckfbiao2a"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=3&amp;server_id=1">08-17</a></li><li class="zckfbiao2b"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=3&amp;server_id=1">15:00</a></li><li class="zckfbiao2c"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=3&amp;server_id=1" target="_blank">无上神兵</a></li><li class="zckfbiao2d"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=3&amp;server_id=1" target="_blank">1服</a></li></ul></div> 
      <div class="zckfbiao2"><ul><li class="zckfbiao2a"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=3">08-16</a></li><li class="zckfbiao2b"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=3">19:00</a></li><li class="zckfbiao2c"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=3" target="_blank">万界</a></li><li class="zckfbiao2d"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=3" target="_blank">3服</a></li></ul></div> 
      <div class="zckfbiao2"><ul><li class="zckfbiao2a"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=2">08-15</a></li><li class="zckfbiao2b"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=2">19:00</a></li><li class="zckfbiao2c"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=2" target="_blank">万界</a></li><li class="zckfbiao2d"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=2" target="_blank">2服</a></li></ul></div> 
      <div class="zckfbiao2"><ul><li class="zckfbiao2a"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=1">08-14</a></li><li class="zckfbiao2b"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=1">19:00</a></li><li class="zckfbiao2c"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=1" target="_blank">万界</a></li><li class="zckfbiao2d"><a href="http://www.6qwan.com/main.php?act=gamelogin&amp;game_id=1&amp;server_id=1" target="_blank">1服</a></li></ul></div> 
      <div class="clear"></div>
 </div>  
 </div>
 
 
 <div class="margintop10">
 <div class="sylb"><p class="f_l sylba">常见问题</p><p class="f_r sylbb"><a href="/kfzx">更多</a></p><div class="clear"></div></div>
 <div class="cjwt_nr"> 
   <ul>
    
     
    <li><a href="http://www.6qwan.com/kfzx/cjwt/2014-07-08/1404808197d1348.html" target="_blank" title="为什么网页中的FLASH不会动" style="color:">1、为什么网页中的FLASH不会动</a></li>
     
    <li><a href="http://www.6qwan.com/kfzx/cjwt/2014-07-08/1404808197d1346.html" target="_blank" title="游戏进去之后不仅卡，还不停的掉线，怎么处理" style="color:">2、游戏进去之后不仅卡，还不停...</a></li>
     
    <li><a href="http://www.6qwan.com/kfzx/cjwt/2014-07-08/1404808197d1347.html" target="_blank" title="发现有别的网址和6qwan的官网一模一样，是不是也是6qwan平台的呢？" style="color:">3、发现有别的网址和6qwan的官...</a></li>
     
    <li><a href="http://www.6qwan.com/kfzx/cjwt/2014-07-08/1404808197d1345.html" target="_blank" title="游戏出现白屏/黑屏，并显示感叹号，该如何处理" style="color:">4、游戏出现白屏/黑屏，并显示...</a></li>
     
    <li><a href="http://www.6qwan.com/kfzx/cjwt/2014-07-08/1404808197d1344.html" target="_blank" title="游戏一直在加载中，无进入游戏" style="color:">5、游戏一直在加载中，无进入游...</a></li>
     
    <li><a href="http://www.6qwan.com/kfzx/cjwt/2014-07-08/1404808197d1343.html" target="_blank" title="为什么网页中的图片无法显示" style="color:">6、为什么网页中的图片无法显示</a></li>
       </ul>
 </div>  
 </div>
 
 <div class="margintop10">
 <div class="sylb"><p class="f_l sylba">客服中心</p><p class="f_r sylbb"><a href="/kfzx">更多</a></p><div class="clear"></div></div>
 <div class="kf_nr"> 
    <a href="http://wpa.qq.com/msgrd?v=3&uin=2100816182&site=qq&menu=yes" target="_blank"><img src="http://image.6qwan.com/images/pay_kefu.jpg"</a>
   <!--<ul>
   <li>在线提问：<a href="http://chat.53kf.com/company.php?arg=zitian&style=1" target="_blank">点击进入</a></li>
   <li>客服邮箱：kf@5a.com</li> 
   <li>投诉邮箱：ts@5a.com</li> 
   <li></li>
   <li></li>    
   </ul>-->
 </div>  
 </div>