<div class="cleft"><!--cleft-->        
    <div class="kf_zhmm">
        <h2>找回密码 </h2>
        <p><a href="/help.php?act=getpwd"><img src="http://image.6qwan.com/images/zh_1.jpg" width="186" height="68" alt="步骤1" /></a></p>
        <p><a href="javascript:"><img src="http://image.6qwan.com/images/zh_jt.jpg" width="184" height="52" alt="下一步" /></a></p>
        <p><a href="javascript:"><img src="http://image.6qwan.com/images/zh_2.jpg" width="186" height="68" alt="步骤2" /></a></p>
        <p><a href="javascript:"><img src="http://image.6qwan.com/images/zh_jt.jpg" width="184" height="52" alt="下一步" /></a></p>
        <p><a href="javascript:"><img src="http://image.6qwan.com/images/zh_3.jpg" width="186" height="68" alt="步骤3" /></a></p>
    </div>
    <div style="height:20px;"></div>
    <div class="kfl_tit"></div>
    <div class="kfl_time">7*24小时在线客服电话</div>
    <div class="kfl_tel">020-82320600</div>
    <div class="kfl_qq">
        <a href="http://wpa.qq.com/msgrd?v=3&uin=2100816182&site=qq&menu=yes" target="_blank"><img src="http://image.6qwan.com/images/pay_kefu.jpg"</a>
    </div>
</div>