   <div class="kfzx">
    <div class="kfzx1">
    <div class="kfzx2">
    	<span class="kfzx2a f_l">帐号安全</span> <span class="kfzx2b f_l">帐号认证</span> <span class="kfzx2c f_l">充值相关</span>  <span class="kfzx2d f_l">常用客服导航</span>
    	<div class="clear"></div>
    </div>
    <div class="kfzx3"><ul><li><a href="/my.php?act=passwd">修改密码</a></li><li><a href="/my.php?act=question">设置密保</a></li><li><a href="/my.php?act=info">完善用户资料</a></li></ul></div>
    <div class="kfzx5"><ul><li><a href="/my.php?act=indulge">防沉迷认证</a></li></ul></div>
    <div class="kfzx3"><ul><li><a href="http://pay.6qwan.com">游戏币充值</a></li><li><a href="/kfzx/czwt/">常见充值问题</a></li></ul></div>
    <div class="kfzx4"><ul><li><a href="http://wpa.qq.com/msgrd?v=3&uin=2100816182&site=qq&menu=yes" target="_blank">各游戏客服导航</a></li><li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2100816182&site=qq&menu=yes">违规信息举报</a></li><li><a href="/help.php?act=question" target="_blank">游戏充值问题反馈</a></li></ul></div>    
     <div class="kfzx6 f_l">
     <p class="kfzx6a" onclick="window.open('http://wpa.qq.com/msgrd?v=3&uin=2100816182&site=qq&menu=yes');"></p>
     <p class="kfzx6b"><a href="/help.php?act=question">提交问题</a></p>
     <p class="kfzx6b"><a href="/help.php?act=question_result">查询结果</a></p>     
     </div>    
    </div> 
    <div class="clear"></div> 