<!--头部结束 导航开始-->
<div class="all_980">
<div class="top2">
   <div class="top21 f_l"></div>
   <div class="top22 f_l">
     <ul>
      <li class="top221"><a href="http://www.6qwan.com">首页</a></li>
      <li class="top221"><a href="http://www.6qwan.com/games" class="yellow">游戏中心</a></li>
      <li class="top221"><a href="http://www.6qwan.com/news">新闻中心</a></li>
      <li class="top221"><a href="http://pay.6qwan.com" target="_blank" class="yellow">充值中心</a></li>
      <li class="top22{%if $actmy==1%}2{%else%}1{%/if%}"><a href="http://www.6qwan.com/my.php">个人中心</a></li>
      <li class="top22{%if $acthelp==1%}2{%else%}1{%/if%}"><a href="http://www.6qwan.com/kfzx">客服中心</a></li>    
      <li class="top221"><a href="http://bbs.6qwan.com" target="_blank">玩家论坛</a></li>
     </ul>
   </div>  
   <div class="top23 f_r"></div>
   <div class="gift f_r"><a href="#" target="_blank" title="新手礼包"><img src="images/gift.gif" alt="新手礼包" width="160" height="32" /></a></div>
   <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>

 <div class="all_980">
 <div class="top_tjbox">
    <div class="tjbox_bb_l f_l"></div>
    <div class="tjbox_bb f_l" style=" padding:0px 20px; ">
        <strong style=" color:#F00">热门推荐：</strong>
        <a href="#" target="_blank" style=" color:#F00">街机三国</a> <span>|</span>
        <a href="#" target="_blank" style=" color:#F00">醉西游</a> <span>|</span>
        <a href="#" target="_blank" style=" color:#F00">凡人修真2</a> <span>|</span>
        <a href="#" target="_blank" style=" color:#F00">霸域</a> <span>|</span>
        <a href="#" target="_blank">斗破乾坤</a> <span>|</span>
        <a href="#" target="_blank">英雄远征</a> <span>|</span>
        <a href="#" target="_blank">神曲</a> <span>|</span>
        <a href="#" target="_blank">海神</a> <span>|</span>
        <a href="#" target="_blank">战将风云</a> <span>|</span>
        <a href="#" target="_blank">热血三国</a> <span>|</span>
        <a href="#" target="_blank">热血篮球</a> <span>|</span>
        <a href="#" target="_blank">梦幻飞仙</a> <span>|</span>
        <a href="#" target="_blank">更多>></a>
     </div>
     <div class="tjbox_bb_r f_r"></div>
     <div class="clear"></div>
  </div>
  </div>  
<!--导航结束--> 