<div class="yh border1 aqzx">       
    <p class="aqzx0">推荐游戏</p> 
    <ul class="g_list clearfix">
      <li style="float:right;">
           <div class="tj1_bg">
            <p class="tj1_bg1"></p>
            <p class="tj1_bg2"><a href="/qs/" target="_blank">七杀</a></p>
            <p class="tj1_bg3">类型：角色扮演</p>
            <p class="tj1_bg4"><a href="/qs/" target="_blank">游戏官网</a> | <a href="http://pay.6qwan.com/?game_id=1" target="_blank">充值中心</a> </p>
             
        </div>
      </li>
      <li>
           <div class="tj2_bg">
            <p class="tj1_bg1"></p>
            <p class="tj1_bg2"><a href="/fyws/" target="_blank">风云无双</a></p>
            <p class="tj1_bg3">类型：角色扮演</p>
            <p class="tj1_bg4"><a href="/fyws/" target="_blank">游戏官网</a> | <a href="http://pay.6qwan.com/?game_id=2" target="_blank">充值中心</a></p>
             
            </div>
      </li>
    </ul>
    <div class="clear"></div>
</div>