<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{%$chinese_title%}-用户中心-安全中心</title>
<link type="text/css" rel="stylesheet" href="{%$image_url%}css/www/base.css" />
<link type="text/css" rel="stylesheet" href="{%$image_url%}css/www/public.css" />
<link type="text/css" rel="stylesheet" href="{%$image_url%}css/www/main_pq.css" />
<script type="text/javascript" src="{%$js_url%}jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{%$js_url%}function.js"></script>
<script type="text/javascript" src="{%$js_url%}user.js"></script>
</head>

<body>

<!--导入公共头部文件-->
{%include file='header.html'%}

<!--主内容-->
<div class="m1200">
	<div class="m_box2 mt40 clearfix">

        <!--左侧导航-->
        {%include file='user_link.html'%}

        <!--右侧-->
        <div class="fr w980">
        	<div class="p50">
                <div class="user_hd">
                	<h2>安全中心</h2>
                	<div id="" class="fl user_menu clearfix">
                        <div class="li_o" href="javascript:void(0);"  onclick="window.location.href='{%$root_url%}user.php?act=passwd'">修改密码</div>
                        <div class="li_a" href="javascript:void(0);">修改密保</div>
                        <!--<div class="li_o" href="javascript:void(0);" onclick="window.location.href='{%$root_url%}user.php?act=payment_cipher'">支付密码</div>-->
                    </div>
                </div>
                
                <div id="myTab1_Content1">
                    <div class="user_msg">密保问题, 保障您的帐号安全, 当您对帐号进行操作时需要验证密保问题!</div>
                    <FORM id="frm" name="frm" onSubmit="return my_question_submit();" action="" method="post">
                    <input type="hidden" name="stage" value="yes" />
                    <ul class="fill_list">
                        {%if $users[23]%}
                            <li>
                                    <label>原密保问题：</label>
                                    <span class="input_t" style="display:inline-block;border:0 none;box-shadow:0 0 0;border-radius:0;">{%$users[11]%}</span>
                            </li>
                            <li>
                                    <label>原密保答案：</label>
                                    <input type="text"  id="old_answer" name="old_answer"  class="input_t" style="width:258px" />
                            </li>
                        {%/if%}
                        <li class="clearfix">
                            <label>密保问题：</label>
                            <div class="select_down">
                                <div>
                                <select id="question" name="question">
                                    <option value="" selected="">请选择密保问题</option>
                                    <option value="您母亲的姓名是?">您母亲的姓名是?</option>
                                    <option value="您配偶的生日是?">您配偶的生日是?</option>
                                    <option value="您的学号（或工号）是?">您的学号（或工号）是?</option>
                                    <option value="您母亲的生日是?">您母亲的生日是?</option> 
                                    <option value="您高中班主任的名字是?">您高中班主任的名字是?</option>
                                    <option value="您父亲的姓名是?">您父亲的姓名是?</option>
                                    <option value="您小学班主任的名字是?">您小学班主任的名字是?</option>
                                    <option value="您父亲的生日是?">您父亲的生日是?</option> 
                                    <option value="您配偶的姓名是?">您配偶的姓名是?</option>
                                    <option value="您初中班主任的姓名是?">您初中班主任的姓名是?</option>
                                    <option value="您最熟悉的童年好友名字是?">您最熟悉的童年好友名字是?</option>
                                    <option value="您最熟悉的学校宿舍室友名字是?">您最熟悉的学校宿舍室友名字是?</option>
                                    <option value="对您影响最大的人名字是?">对您影响最大的人名字是?</option>
                                </select>
                                </div>
                            </div>
                        </li>
                        <li><label>密保答案：</label><input type="text" name="answer" id="answer" class="input_t" style="width:258px" /></li>
                        <li><label>&nbsp;</label><a href="javascript:void(0)" onclick="$('#frm').submit();" class="game_btn2" style="width:290px">确 认</a></li>
                    </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--导入公共页脚文件-->
{%include file='footer.html'%}
</body>
</html>
