@charset "gb2312";
/*绑定账号弹框样式*/
* {
	margin: 0;
	padding: 0;
}
body {
	font:12px "微软雅黑";
	overflow-x:hidden;
}
.bg {
	width: 100%;
}
h4, h5, h6 {
	font-size: 14px;
}
ul, ol {
	list-style: none;
	display: block;
}
input, select, textarea {
	font-size: 12px;
	font-family: "microsoft yahei";
	color: #555;
}
em, i, address {
	font-style: normal;
}
a img {
	border: 0;
}
  
/*新增加账号登录样式*/

.userbox-third {
	display: none;
	height: 24px;
	line-height: 24px;
	padding-top: 5px;
}
.userbox-third span {
	display: block;
	float: left;
	font-family: "微软雅黑";
}
.third-logo-qq {
	background-position: 0 0;
}
.third-logo {
	background-image: url("./third-logo-24.png");
	display: inline;
	height: 24px;
	width: 24px;
}
.third-logo-wechat {
	background-position: 0 -40px;
}
.userbox-third a {
	float: left;
	margin: 0 10px;
}
