@charset "utf-8";

/* CSS Document
.ser a, .ser a:link{color:#c49454;}
.ser a:hover{color:#ffd565;}
 */
.ser{background-position:0 -420px;}
.logon, .newSer, .divTab, .serScroll, .serScroll {width:616px;overflow:hidden;}
.con{width:614px;overflow-y: auto;overflow-x: hidden;}
.logon, .newSer, .divTab{padding-right:20px;padding-left:20px;}
/* 服务器.登录状态 */
.logon, .logon p, .logon p.p1 a.name, .logon p.p1 a.name:hover{}
.logon, .logon p{height:37px;line-height:37px;}
.logon{padding-top:8px;padding-bottom:22px;text-align:center;font-size:14px;}
.logon p{overflow:hidden;}
.logon p a{color:#F8AA2A;}
.logon p a:hover{color:#FC3;}
.logon p.p1 a.name{font-weight:bold;}
.logon p.p1 a.name:hover{}
.logon p.p1 a.exit,.logon p.p1 a.zhgl{margin-left:10px;text-align:center;text-decoration:none;}
.logon p.p1 a.exit:hover,.logon p.p1 a.zhgl:hover{text-decoration:underline;}

/* 服务器.最近登录 */
.newSer, .newSer p, .newSer p span, .newSer ul li, .newSer ul li a{height:40px;line-height:40px;}
.newSer{padding-bottom:18px;}
.newSer p, .newSer p span{float:left;overflow:hidden;}
.newSer p span{width:172px;overflow:hidden;text-indent:-99em;background-position:-246px -180px;}
.ser2 .newSer p span{background-position:246px -220px;}
.newSer ul{display:inline-block;padding:0;}
.newSer li, .newSer li a{float:left;width:148px;}
.newSer li{display:inline;margin:0 5px 0 10px;}
.newSer li a{text-align:center;white-space:nowrap;color:#FFF;cursor:pointer;background-position:-255px 0;}
.newSer li a:hover{text-decoration:none;background-position:-255px -40px;color:#FFF;}
/* 服务器.最近登录.暂无记录 */
.newSer .t{width:auto;padding-left:8px;text-align:left;font-size:14px;font-weight:normal;}

/* 服务器.…… */
.serMain{height:150px;margin:10px 0 0 8px;overflow:hidden;position:relative;}
/* 服务器.服务器TAB.标题 */
.serTab{height:150px;position:relative;}
.serTab h3{height:27px;}
.serTab h3 a{margin-right:2px;float:left;width:81px;height:27px;overflow:hidden;}
.serTab h3 a:hover,.serTab h3 a.on{}
.serTab h3 a.a1{}
.serTab h3 a.a2{}
.serList{position:relative;z-index:1;height:210px;}
/* 服务器.服务器TAB.TAB选项 */
.divTab, .divTab a{height:31px;line-height:31px;}
.divTab{overflow:hidden;}
.divTab a{margin:0 0 0 2px;float:left;*display:inline;width:80px;text-align:center;color:#FFF;background-position:-415px 0;}
.divTab a:hover{text-decoration:underline;color:#FFF;}
.divTab a.on{color:#FFF;text-decoration:none;background-position:-415px -32px;}
.divTab a.on:hover{}
/* 服务器.服务器TAB.快速选服 */
.quick label, .quick input, .quick button{float:left;font-size:12px;}
.quick, .quick label{height:27px;line-height:27px;}
.quick{position:absolute;top:1px;right:18px;overflow:hidden;}
.quick label{display:block;width:56px;}
.quick input{padding:4px 3px 5px;width:56px;height:18px;line-height:18px;overflow:hidden;text-align:center;vertical-align:middle;color:#81725a;background-position:-430px -136px;}
.quick button{_display:inline;margin-top:0;width:64px;height:75px;overflow:hidden;text-indent:-99em;margin:0 0 0 6px;background-position:-430px -81px;}
.quick button.on,.quick button:hover{background-position:-430px -109px;}
.quick span{float:left;_display:inline;height:20px;line-height:20px;margin-left:15px;}

/* ??? */
.zjdlSer{padding:52px 0 14px;}
.zjdlSer p{padding-left:49px;}
.zjdlSer p a{margin-bottom:14px;padding-left:0px;width:166px;color:#FFF;/*background:url(../images/liston.jpg) no-repeat scroll 0 0;*/}
.zjdlSer p a span{display:block;width:166px;text-align:center;font-size:14px;cursor:pointer;}
.zjdlSer p a:hover{color:#c7b480;/*background:url(./list.jpg) no-repeat scroll 0 0;*/}
#choose_pop{width:542px;height:160px;padding:0 0 0 20px;color:#000;overflow:hidden;}
#choose_pop .popup_container{position:relative;height:160px;width:542px;}

.serScroll{height:201px;}
.serScroll .con{height:195px;}
.serScroll{position:relative;margin:12px 13px 8px;}

/*.serList ul{display:none;}*/
.serList .show{display:block;}
/* 服务器.服务器列表 */
.serList li, .serList li a{float:left;width:174px;height:47px;line-height:47px;text-align:center;color:#FFF0F0;}
.serList li{_display:inline;overflow:hidden;margin:0 17px 26px 8px;}
.serList li var{}
.serList li a{overflow:hidden;color:#FFF;cursor:pointer;background-position:-254px -81px;}
.serList li a:hover,.serList li a.on{text-decoration:none;background-position:-254px -129px;}
.serList li a:hover{color:#FFF;}
.serList li var,.newSer p var{float:right;height:15px;margin-top:7px;cursor:pointer;}

/* ??? ??? */
.conBox{margin:0;position:absolute;}
.con{position:relative;}
/* 服务器.服务器列表.滚动条 */
.scrollBar, .scrollBar .barT, .scrollBar .barB, .scrollBar .barM, .scrollBar .bar{width:21px;}
.scrollBar{position:absolute;right:3px;top:0;padding:0;height:193px;overflow:hidden;background-position:-210px 0;}
.scrollBar .barT, .scrollBar .barB{position:absolute;left:0;height:0;line-height:0;overflow:hidden;text-indent:-99em;cursor:pointer;background:none;}
.scrollBar .barT{top:0;}
.scrollBar .barB{bottom:0;}
.scrollBar .barT:hover{}
.scrollBar .barB:hover{}
.scrollBar .barM{height:156px;position:absolute;top:1px;left:0;}
.scrollBar .bar{display:block;height:23px;background-position:-473px -159px;position:absolute;top:0;left:0;cursor:pointer;}
.scrollBar .bar:hover{background-position:-473px -182px;}


/*---社交账号登录---*/
.span3,.span3 var,.span3 strong{float:none;display:inline-block;height:37px;line-height:36px;}
.span3:hover strong, .logon p.p1 a:hover{text-decoration:underline;}
.span3 var{font-style:normal;display:none;}
.ico3{width:24px;height:24px;overflow:hidden;margin:8px 0 0;background-image:url(./ico3.png);background-repeat:no-repeat;display:block;float:left;}
.ico_qq{background-position:0 -24px;_background:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://img.game2.com/css/img/ico3_qq.png");}
.ico_weibo{background-position:0 -48px;_background:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://img.game2.com/css/img/ico3_weibo.png");}
.ico_alipay{background-position:0 -72px;_background:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://img.game2.com/css/img/ico3_alipay.png");}
.ico_weixin{background-position:0 0;_background:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://img.game2.com/css/img/ico3_weixin.png");}