<form id="pagerForm" action="" method="post">
    <input type="hidden" name="access" value="1"/>
    <input type="hidden" name="game_id" value="<{$smarty.post.game_id}>"/>
    <input type="hidden" name="numPerPage" value="<{$numperpage}>"/>
    <input type="hidden" name="server_id" value="<{$smarty.post.server_id}>"/>
    <input type="hidden" name="orderField" value="<{$smarty.post.orderField}>" />
    <input type="hidden" name="orderDirection" value="<{$smarty.post.orderDirection}>" />
    <input type="hidden" name="agentid" value="<{$smarty.post.agentid}>"/>
    <input type="hidden" name="guild_name" value="<{$smarty.post.guild_name}>"/>
    <input type="hidden" name="start_date" value="<{$smarty.post.start_date}>"/>
    <input type="hidden" name="end_date" value="<{$smarty.post.end_date}>"/>
    
</form>
<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" action="" method="post">
    <input type="hidden" name="access" value="1"/>    
    <div class="searchBar">
        <ul class="searchContent">
            <li><label>公会：</label>
                <select class="combox" name="agent_id" id="agentid4">
                    <option value="0">请选择</option>
                    <{foreach item=v from =$guildlist}>
                    <option value="<{$v.id}>" <{if $smarty.post.agent_id==$v.id}> selected <{/if}> ><{$v.agentname}></option>
                    <{/foreach}>
                </select>
                <input type="text" id="search_key4" size="10" class="" value="输入关键字"/>
            </li>
            <li><label>游戏：</label>
                     <select class="combox" name="game_id" id="game_id"  ref="server_id_222777wan_4432841" refUrl="?action=sysmanage&opt=getServers&game_id={value}">
                <option value="0">请选择</option>
                <{foreach item=v from =$gamelist}>
                     <option value="<{$v.id}>" <{if $smarty.post.game_id==$v.id}> selected <{/if}> ><{$v.name}></option>
                     <{/foreach}>
                 </select>  <select class="combox" name="server_id" id="server_id_222777wan_4432841">
                <option value="0">请选择</option>
                <{foreach item=v from =$serverlist}>
                     <option value="<{$v.server_id}>" <{if $smarty.post.server_id==$v.server_id}> selected <{/if}> ><{$v.name}></option>
                     <{/foreach}>
                 </select>
            </li>
        </ul>
        <ul class="searchContent">
            <li>  
                <label>起始时间：</label>
                <input type="text" name="start_date" class="date" value="<{$smarty.post.start_date}>" readonly="true"/>
                            <a class="inputDateButton" href="javascript:;">选择</a>
            </li>
            <li>
                <label>结束时间：</label>
                <input type="text" name="end_date" class="date" value="<{$smarty.post.end_date}>" readonly="true"/>
                            <a class="inputDateButton" href="javascript:;">选择</a>
            </li>      
         
                <li><label>公会专员：</label>
                <select class="combox" name="guild_name" id="guild_name">
                <option value="">所有</option>
                 <{foreach item=g  from =$guilds}>
                    <{if $g.uid >0}>
                        <option value="<{$g.uid}>" <{if $smarty.post.guild_name == $g.uid}> selected <{/if}> ><{$g.addUser}></option>
                    <{/if}>
                    <{/foreach}>
                </select>
            </li>
                
        </ul>
        <div class="subBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
            </ul>
        </div>
    </div>
    </form>
</div>
<div class="pageContent">
    <table class="table" width="100%"  layoutH="107">
        <thead>
            <tr>
                <th width="130">公会ID</th>
                <th width="130">公会名</th>
                <th width="200">游戏</th>
                <th>服区</th>
                <th>注册人数</th>
                <th orderField="total_ip" class="<{if $smarty.post.orderField==''||$smarty.post.orderField=='total_ip'}><{$smarty.post.orderDirection|default:'desc'}><{/if}>">注册IP数</th>
                <th orderField="total_pay" class="<{if $smarty.post.orderField=='total_pay'}><{$smarty.post.orderDirection}><{/if}>">充值金额</th>
                <th width="100">添加人</th>
                <th width="240">注册时间</th>
            </tr>
        </thead>
        <tbody>
            <{foreach item=vo from=$data}>
            <tr target="sid" rel="1">
                <td><{$vo['agent_id']}></td>
                <td><{$vo['agent']}></td>
                <td><{$vo['game']|default:"--- ---"}></td>
                <td>S<{$vo['server_id']|default:"---"}></td>
                <td><a title="发放首充" href="?action=pay&opt=firstPay&api=add&agentid=<{$vo['agent_id']}>&game_id=<{$vo['game_id']}>&server_id=<{$vo['server_id']}>&navTabId=<{$smarty.get.navTabId}>" height="500" target="dialog" mask="true"><{$vo['total_reg']|default:"0"}></a></td>
                <td><{$vo['total_ip']|default:"0"}></td>
                <td><{$vo['total_pay']|default:"0"}></td>
                <td><{$vo['adduser']}></td>
                <td><{$start_date}>----<{$end_date}></td>
            </tr>
            <{/foreach}>
            <tr target="sid" rel="1">
                <td>合计：</td>
                <td>--</td>
                <td>--</td>
                <td>--</td>
                <td><{$heji.total_ip}></td>
                <td><{$heji.total_pay}></td>
                <td><{$heji.adduser}></td>
                <td>--</td>
                <td><{$start_date}>----<{$end_date}></td>
            </tr>
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages"><span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option <{if $smarty.post.numPerPage==20}>selected<{/if}>  value="20">20</option>
                <option <{if $smarty.post.numPerPage==50}>selected<{/if}> value="50">50</option>
                <option <{if $smarty.post.numPerPage==100}>selected<{/if}> value="100">100</option>
                <option <{if $smarty.post.numPerPage==200}>selected<{/if}> value="200">200</option>
            </select>
        </div>
        <div class="pagination" targetType="navTab" totalCount="<{$totalcount}>" numPerPage="<{$numperpage}>" pageNumShown="10" currentPage="<{$currentpage}>"></div>
    </div>
</div>
<script>
    var pro_str={ <{foreach item=v from =$guildlist}> "<{$v.id}>":"<{$v.agentname}>", <{/foreach}> };
    search_pro('search_key4','agentid4');
</script>